.card{
  width:320px;
  border-radius:24px;
  padding:30px 20px 26px;
  text-align:center;
  background:
    url("https://img.sanishtech.com/u/a15c6a2012be8dd6fe6fac99b0b33859.jpg")
    center center / cover no-repeat;
  box-shadow:0 18px 40px rgba(0,0,0,0.45);
  border:none;
}